*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:#f2f2f2;
    padding:20px;
}

.container{
    max-width:1000px;
    margin:auto;
    display:flex;
    background:#fff;
    box-shadow:0 0 15px rgba(0,0,0,0.1);
}

.left{
    width:35%;
    background:#1e293b;
    color:white;
    padding:30px;
}

.right{
    width:65%;
    padding:30px;
}

h1{
    font-size:45px;
    color:#1e293b;
}

.title{
    color:#64748b;
    font-size:22px;
    margin-bottom:25px;
}

h2{
    margin-top:20px;
    margin-bottom:10px;
}

hr{
    border:1px solid #64748b;
    margin-bottom:15px;
}

ul{
    margin-left:20px;
    line-height:1.8;
}

p{
    margin-bottom:10px;
    line-height:1.5;
}

h3{
    color:#334155;
    margin-top:10px;
}
.btn{
    display:inline-block;
    padding:10px 20px;
    background:#334155;   /* Button background */
    color:white;          /* This makes "View My Resume" white */
    text-decoration:none;
    font-weight:bold;
    border-radius:5px;
    margin-top:15px;
}